body, html {
  height: 100%;
}

body {
  background-image: url(math.png) !important;
  height: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-color:lavender !important;
}

.navigation-bar {
  text-align:left;
  background-color:coral;
  padding: 27px 0px;
}

.navigation-bar a {
  color:white;
  font-size:20px;
  font-family:"Anton", Sans Serif;
  padding:27px 20px;
  text-align: center;
  text-decoration:none;
  font-weight: bold;
}

.navigation-bar a:hover {
  background-color:transparent;
  border:2px solid white;
  color:white;
}

.club {
  height: 150px;
  width: 450px;
  border-style:solid;
  margin: 25px 15px;
  background-color:rgb(188, 188, 252);
  border-radius: 20px;
}

.club-name {
  background-color:rgb(132, 132, 255);
  border-radius: 20px 20px 0px 0px;
  margin: 0px;
  padding: 10px;
  font-size:20px;
  text-align:center;
}

.message {
  font-size:16px;
  display: inline;
  margin: 15px;
}

button {
  background-color: transparent;
  border:2px solid black;
  margin: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: black;
  font-size: 16px;
  border-radius:50%;
  float: right;
}

button:hover {
  background-color: white;
  border-color:white;
  color: black;
}