body {
  background-color:turquoise;
}

.navigation-bar {
  text-align:left;
  /*background-color:#FF731D;*/
  padding: 15px 0px;
}


.logo{
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 20px;
}

.navigation-bar a {
  color:white;
  font-size:20px;
  font-family:"Anton", Sans Serif;
  padding:15px 20px;
  text-align: center;
  text-decoration:none;
  font-weight: bold;
}

.navigation-bar a:hover {
  background-color:transparent;
  border:2px solid white;
  color:white;
}

button {
    background-color: transparent;
    border:2px solid white;
    padding: 5px 7px;
    width: 160px;
    text-align: center;
    color: white;
    font-size: 20px;
    left: 50%;
    font-family:Arial, Helvetica, serif;
}

.club-name {
  font-size:18px;
}

.message {
  font-size:14px;
  display: inline;
}

button {
  background-color: transparent;
  border:2px solid white;
  margin: 0px 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  font-size: 16px;
  border-radius:50%;
}

button:hover {
  background-color: white;
  border-color:white;
  color: black;
}